.page__header {
  margin-bottom: 30px;
}
 
.page__goods {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

@media screen and (max-width: 900px) {
  .page__goods {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .page__goods {
    grid-template-columns: repeat(2, 1fr);
  }
}

.page__control {
  display: flex;
  margin-bottom: 30px;
}

.page__number {
  display: inline-block;
  font-size: 1.1em;
  margin: 0 20px;
  width: 70px;
  text-align: center;
}

.page__number::--webkit-outer-spin-button,
.page__number::--webkit-inner-spin-button {
  appearance: none;
}