.page__header {
  margin-bottom: 30px;
}
 
.page__goods {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.page__control {
  display: flex;
  margin-bottom: 30px;
}

.page__number {
  display: inline-block;
  font-size: 1.1em;
  margin: 0 20px;
  width: 70px;
  text-align: center;
}

.page__number::--webkit-outer-spin-button,
.page__number::--webkit-inner-spin-button {
  appearance: none;
}